* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #81c784, #aed581);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding: 1rem;
    padding-top: 50px; /* Add padding at the top */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    text-align: center;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

.header {
    position: relative;
    margin-bottom: 1rem;
}

h1 {
    color: #2c3e50;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.header-image {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    opacity: 0.8;
}

.input-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #34495e;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #3498db;
}

.submit-btn {
    background-color: #3498db;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1.5rem;
}

.submit-btn:hover {
    background-color: #2980b9;
}

#results {
    margin-top: 2rem;
}

#results h2 {
    margin-bottom: 1rem;
    color: #27ae60;
    font-size: 1.8rem;
}

#results p {
    font-size: 1.2rem;
    color: #2c3e50;
    margin-top: 0.5rem;
}
.result-table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    text-align: left;
}

.result-table th, .result-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-table th {
    background-color: #2980b9;
    color: white;
    font-weight: bold;
}

.result-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.result-table td {
    color: #2c3e50;
    font-size: 1rem;
}
